@model InnoXCollab.Web.Models.Dto.CreateEventRequest
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add New Event</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">

        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" id="name" asp-for="Name" />
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" id="description" asp-for="Description" />
        </div>

        <div class="mb-3">
            <label class="form-label">HoldingTime</label>
            <input type="datetime-local" class="form-control" id="holdingTime" asp-for="HoldingTime" />
        </div>

        <div class="mb-3">
            <label class="form-label">Image Upload</label>
            <input type="file" class="form-control" id="imageUpload" />

            <img src="" id="imageDisplay" style="display:none;width:250px"
        </div>

        <div class="mb-3">
            <label class="form-label">Investor</label>
            <input type="text" class="form-control" id="investor" asp-for="Investor" />
        </div>

        <div class="mb-3">
            <label class="form-label">Start price</label>
            <input type="text" class="form-control" id="startPrice" asp-for="StartPrice" />
        </div>

        <div class="mb-3">
            <label class="form-label">Type</label>
            <select class="form-select" asp-items="@Model.Types"
                    asp-for="SelectedType"></select>
        </div>

        <div class="mb-3">
            <label class="form-label">Tags</label>
            <select class="form-select" asp-items="@Model.Tags"
                    asp-for="SelectedTags"></select>
        </div>

        <div class="mg-3">
            <button type="submit" class="btn btn-dark">
                Create
            </button>
        </div>

        <div class="mb-3">
            <input type="hidden" id="imageUrl" asp-for="ImageUrl" readonly/>
        </div>

    </form>
</div>

@section Scripts{
    <script>
        const imageUploadElement = document.getElementById('imageUpload');
        const imageDisplayElement = document.getElementById('imageDisplay');
        const imageUrlElement = document.getElementById('imageUrl');

        async function UploadImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/Images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    imageDisplayElement.src = result.link; // Corrected variable name
                    imageDisplayElement.style.display = 'block';
                    imageUrlElement.value = result.link;
                })
        }

        imageUploadElement.addEventListener('change', UploadImage)
    </script>
}